<app-nav-bar></app-nav-bar>
<div class="main">
<div class="row">

  <div class="col s3">
      <div class="row" style="align-items: center; margin-top: 75px;margin-left: 15%">
          <div class="col s12 m7">
            <div >
              <div style="">
                <img src="https://docs.moodle.org/dev/images_dev/c/c5/bar_chart.png" style="height:300px; width: 400px;border: 2px solid #42a5f5;border-radius: 10px;">
                <!-- <label>Your marks chart</label> -->
              </div>
            </div>
          </div>
        </div>
  </div>

  <div class="col s9">
    <!-- Teal page content  -->
    <div class="container">
      <div style="align-items: center; margin-top:75px;margin-left: 15%">

          <div class="col s12 m7"  style=" border: 2px solid #42a5f5;border-radius: 10px;">
            <h2 class="header">Start A Paper</h2>
            <div class="card horizontal"  style=" border: 2px solid #42a5f5;border-radius: 10px;">
              <div class="card-image" style="margin-top: 7%">
                <!-- <img src="https://lorempixel.com/100/190/nature/6"> -->
                <i class="large material-icons">school</i>
              </div>
              <div class="card-stacked">
                <div class="card-content">
                  <!-- <p>I am a very simple card. I am good at containing small bits of information.</p> -->

                      <table>
                        <tbody>
                          <tr>
                            <td>
                              Subject
                            </td>
                            <td>
                                <select class="browser-default">
                                  <option value="" disabled selected>Choose your option</option>
                                  <option value="1">Option 1</option>
                                  <option value="2">Option 2</option>
                                  <option value="3">Option 3</option>
                                </select>
                            </td>
                          </tr>

                          <tr>
                              <td>
                                Year
                              </td>
                              <td>
                                  <select class="browser-default">
                                    <option value="" disabled selected>Choose your option</option>
                                    <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                    <option value="3">Option 3</option>
                                  </select>
                              </td>
                            </tr>

                            <tr>
                                <td>
                                  Paper
                                </td>
                                <td>
                                    <select class="browser-default">
                                      <option value="" disabled selected>Choose your option</option>
                                      <option value="1">Option 1</option>
                                      <option value="2">Option 2</option>
                                      <option value="3">Option 3</option>
                                    </select>
                                </td>
                              </tr>


                        </tbody>
                      </table>


                </div>
                <!-- <div class="card-action">
                  <a href="#">This is a link</a>
                </div> -->
              </div>
            </div>
          </div>
          <!-- card ends -->
      </div>
    </div>
  </div>

</div>
</div>
