div.main{
  background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/04/04/66/27580aefd0ed89a.jpg");
  /* height: 100%; */

    /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
